<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label">Numero 1:</label>
            <input class="form-control" [(ngModel)]="num1"  name="num1" placeholder="Numero1" type="number">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Numero 2:</label>
            <input class="form-control" [(ngModel)]="num2" name="num2" placeholder="Numero2" type="number">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="sumarNumeros()">Calcular</button>
        </div>
    </div>
    <div class="col-6">
        <h2>
            La suma es:{{resultado}}
        </h2>
    </div>
</div>