<div >
  <div>
    <app-menu></app-menu>
  </div>
  <div class="row">
    <!-- <p> Hola Mundo!!!!!!</p>

    <div>
      <h1>IDGS 902</h1>
    </div> -->
    <!-- Interpolación de Texto -->
    <!-- <div>
      {{title}}
    </div>
    <div>
      La suma de 2 + 2 es: {{2+2}}
    </div> -->
    <!-- Invocar funciones -->
    <!--<div>
      El doble de 3 es {{duplicar(3)}}
    </div>

    <hr>

    <div>
      <b>Matricula: </b>{{alumno.matricula}}
    </div>
    <div>
      <b>Apellido: </b>{{alumno.apaterno | uppercase}}
    </div>
    <div>
      <b>Nombre: </b>{{alumno.nombre | lowercase}}
    </div>
    <div>
      <b>Fecha de Nacimiento: </b>{{alumno.fechaNacimiento | date: 'dd/MM/yyyy'}}
    </div>
    <div>
      <b>Inscrito:</b> {{alumno.Inscrito | currency}}
    </div>

    <hr>
    <div>
      <app-grupos></app-grupos>
    </div>
    <hr>
    <div>
      <app-idgs902></app-idgs902>
    </div>
    <hr>
    <div>
      <app-idgs></app-idgs>
    </div> -->
    <div>
      <router-outlet></router-outlet>
      <!-- <app-alumno-reactive></app-alumno-reactive> -->
      <!-- <app-iric></app-iric> -->
      <!-- <app-suma></app-suma>
      <hr>
      <app-operasbas></app-operasbas>
      <hr>
      <app-calculo-d2-p></app-calculo-d2-p> -->

    </div>
  </div>
</div>
